.forms_input{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: left;
    
    
}

.forms_label{
    margin-right: 10px;
}

.forms_col{
    margin-right: 10px;
}

.forms_input{
    margin-right: 10px;
}

