.forms_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    

};

.forms_item{
    width: 100%;
    display: flex;
}

.forms_input{
    
    margin-right: 25px;


};