/* .nav{
    width: 100%;
}; */

.nav_spec{
    display: flex;
    justify-content: space-between;
    list-style: none;
   
    
};
 .nav_item{
    display: inline;
    border-top: 3px  #000;
    border-right: 3px  #000;
}; 
.nav_link{
    display: inline;
    border-top: 3px  #000;
    border-right: 3px  #000;
} 