/* .nav{
    width: 300px;
    display: flex;
    flex-direction: column;
}; */

.nav_spec{
    display: flex;
    justify-content: space-between;
    list-style: none;
   
    
};
 .nav_item{
     width: 50px;
    display: block;
    margin-right: 20px;
    border-top: 3px  #000;
    border-right: 3px  #000;
}; 
/* .nav_link{
    display:b;
    border-top: 3px  #000;
    border-right: 3px  #000;
}  */