/* .nav{
    width: 300px;
    display: flex;
    flex-direction: column;
}; */

.nav_spec{
    display: flex;
    justify-content: center;
    list-style: none;
   
    
}
 .nav_item{
    width: 150px;
    display: block;
    margin-right: 40px;
    border-top: 3px  #000;
    border-right: 3px  #000;
}
.nav_link{
    display:block;
    text-decoration: none;
    outline: none;
    margin-right: 40px;
     border-top: 3px  #000;
    border-right: 3px  #000; 
} 